{% extends 'base.html.twig' %}

{% block title %}Hello LivresController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    {% for item in livres %}
        <div>
            <h1> {{ item.titre }} </h1>
            <h3> {{ item.auteur }} </h3>
            <img src=" {{ item.image }} " alt="" height='350' width='250'>
            <p> {{ item.prix }} € </p>
            <hr/>
        </div>
    {% endfor %}

</div>
{% endblock %}
